html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block
}

ol,
ul {
	list-style: none
}


address {
	font-style: normal;
}

blockquote,
q {
	quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

.tabcontainer {
	width: 100%;
	max-width: 1100px;
	margin: 40px auto;
}

.tabmenu {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.tabmenu>li {
	flex-basis: 25%;
}

.tabmenu>li>a {
	display: block;
	height: 70px;
	line-height: 70px;
	text-align: center;
	color: #000;
	font-size: 1.2em;
	font-weight: 500;
	border: 1px solid #ddd;
	border-bottom-color: #0077d3;
	text-decoration: none;
	background-color: #fff;
}

.tabmenu>li>a.on{
	color: #0077d3;
	font-weight: 1000;
	border: 1px solid #0077d3;
	border-bottom: none;
}


/*a 메뉴가 선택된 순간 */
/* .tabmenu>li>a:hover {
	color: #0077d3;
	border-color: #0077d3;
	border-bottom-color: #fff;
} */

/* .tabcontent>div{display: none;}

.tabcontent>div:first-child{display: block;} */

@media screen and (max-width:768px) {
	.tabmenu {
		width: 100%;
		margin: auto;
		padding: 10px;
		box-sizing: border-box;
	}

	.tabmenu>li {
		flex-basis: 50%;
	}

	.tabmenu>li>a {
		border: 1px solid #ddd;
	}

	.tabmenu>li>a:hover {
		color: #0077d3;
		border-color: #0077d3;
	}
}